<div class="footer">
  <div class="social-icons">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  <div class="copyright">Copyright &copy; Wander Lust Private Limited</div>
  <div class="f-link">
    <a href="/privacy">Privacy Terms</a>
    <a href="/privacy">Help Center</a>
  </div>
</div>
