<%- layout('/layouts/boilerplate') %>
<body>
  <div class="row mt-3">
    <h3 class="col col-6 offset-4 mb-3">Login on Wanderlust</h3>
    <div class="col col-6 offset-3">
      <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <div class="form-floating">
              <input
                autofocus
                autocomplete="username"
                type="text"
                name="username"
                required
                id="username"
                placeholder="Enter Username Here"
                class="form-control"
              />
              <label for="username" class="form-label">Username</label>
              <div class="valid-feedback">Username looks good!</div>
              <div class="invalid-feedback">Username should be valid</div>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input
            autofocus
            autocomplete="current-password"
            type="password"
            name="password"
            required
            id="password"
            placeholder="Enter Password Here"
            class="form-control"
          />
          <label for="password" class="form-label">Password</label>
          <div class="valid-feedback">Password looks good!</div>
          <div class="invalid-feedback">Password should be valid</div>
        </div>
        <div class="mb3">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
